In [1]:
### JC- CitiBikeTripData
import os, shutil
import pandas as pd
import glob

#import csv files from folder
path = r'C:/Users/aparn/Tableau_Data/Resources'
allFiles = glob.glob(path + "/*.csv")
with open('C:/Users/aparn/Tableau_Data/Output/output.csv', 'wb') as outfile:
    #C:\Users\aparn\Tableau_Data\Resources
    for i, fname in enumerate(allFiles):
        with open(fname, 'rb') as infile:
            if i != 0:
                infile.readline()  # Throw away header on all but first file
# Block copy rest of file from input to output without parsing
            shutil.copyfileobj(infile, outfile)
            print(fname + " has been imported.")

C:/Users/aparn/Tableau_Data/Resources\JC-201601-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201602-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201603-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201604-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201605-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201606-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201607-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201608-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201609-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201610-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201611-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201612-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201701-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201702-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201703-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201704-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201705-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201706-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201707-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201708 citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201709-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201710-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201711-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201712-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201801-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201802-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201803-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201804-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201805-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201806-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201807-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201808-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201809-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201810-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201811-citibike-tripdata.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources\JC-201812-citibike-tripdata.csv has been imported.

In [2]:
# making data frame from csv file 
data = pd.read_csv("/Users/aparn/Tableau_Data/Output/output.csv") 
# Preview the first 5 lines of the loaded data 
data.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [3]:
# making new data frame with dropped NA values 
new_data = data.dropna(axis = 0, how ='any') 
  
# comparing sizes of the data frames 
print("Old data frame length:", len(data), "\nNew data frame length:",  
       len(new_data), "\nNumber of rows with at least 1 NA value: ", 
       (len(data)-len(new_data)))

Old data frame length: 896404
New data frame length: 857293
Number of rows with at least 1 NA value:  39111

In [4]:
# Export to csv
new_data.to_csv("C:/Users/aparn/Tableau_Data/CleanData/citibikejc_tripdata.csv")

In [5]:
## Citi Bike daily ridership and membership data 
import os, shutil
import pandas as pd
import glob

#import csv files from folder
path = r'C:/Users/aparn/Tableau_Data/Resources1'
allFiles = glob.glob(path + "/*.csv")
with open('C:/Users/aparn/Tableau_Data/Output/output1.csv', 'wb') as outfile:
    #C:\Users\aparn\Tableau_Data\Resources
    for i, fname in enumerate(allFiles):
        with open(fname, 'rb') as infile:
            if i != 0:
                infile.readline()  # Throw away header on all but first file
# Block copy rest of file from input to output without parsing
            shutil.copyfileobj(infile, outfile)
            print(fname + " has been imported.")

C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2016 - Q1.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2016 - Q2.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2016 - Q3.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2016 - Q4.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2017 - Q1.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2017 - Q2.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2017 - Q3.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2017 - Q4.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2018 - Q1.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2018 - Q2.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2018 - Q3.csv has been imported.
C:/Users/aparn/Tableau_Data/Resources1\Citi Bike Data 2018 - Q4.csv has been imported.

In [6]:
# making data frame from csv file 
data1 = pd.read_csv("/Users/aparn/Tableau_Data/Output/output1.csv") 
# Preview the first 5 lines of the loaded data 
data1.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Cumulative trips (since launch):,Miles traveled today (midnight to 11:59 pm),Miles traveled to date:,Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2016,11009,24371025,24429,44606414,159362,919.0,51.0
1,1/2/2016,14587,24385612,29093,44635507,159403,877.0,34.0
2,1/3/2016,15499,24401111,29616,44665123,159459,784.0,27.0
3,1/4/2016,19593,24420704,36172,44701295,159502,166.0,33.0
4,1/5/2016,18053,24438757,32049,44733344,159534,121.0,22.0

In [7]:
# making new data frame with dropped NA values 
#new_data1 = data1.dropna(axis = 0, how ='any') 
  
# comparing sizes of the data frames 
#print("Old data frame length:", len(data1), "\nNew data frame length:",  
#       len(new_data1), "\nNumber of rows with at least 1 NA value: ", 
#       (len(data1)-len(new_data1)))

In [8]:
# Export to csv
#new_data1.to_csv("C:/Users/aparn/Tableau_Data/CleanData/citibike_ridershipdata.csv")
data1.to_csv("C:/Users/aparn/Tableau_Data/CleanData/citibike_ridershipdata.csv")

NameError: name 'new_data1' is not defined